<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Powered by
                    <a href="{{site.baseurl}}">Blog</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="{{site.address}}" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>

<!--js-->
<script src="{{'/js/jquery.min.js'| prepend: site.baseurl }}"></script>
<script src="{{'/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
