<!--导航栏-->
<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="nav navbar-header">
            <a class="navbar-brand" href="http://www.baidu.com">我的博客</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">导航栏1</a>
                </li>
                <li>
                    <a href="#">导航栏2</a>
                </li>
                <li>
                    <a href="#">导航栏3</a>
                </li>
                <li>
                    <a href="#">导航栏4</a>
                </li>
                <li>
                    <a href="#">导航栏5</a>
                </li>
                <li>
                    <a href="#">导航栏5</a>
                </li>
            </ul>
        </div>
    </div>
</nav>